node-red/Flow Dades Sentilo.json
[{"id":"8a8b41a.6576c4","type":"tab","label":"Recollida de dades Sentilo","disabled":false,"info":""},{"id":"ed5ed821.4bbdb8","type":"inject","z":"8a8b41a.6576c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":60,"wires":[["680462d7.984aa4"]]},{"id":"680462d7.984aa4","type":"function","z":"8a8b41a.6576c4","name":"petició sentilo","func":"msg.payload=\"curl -X GET -H \\\"IDENTITY_KEY: b4d4db576b754d5b7bfffc5c448df5c2da12c0edeba574ff9a98045a108f056b\\\" https://api-sentilo.diba.cat/data/rubi@xoic/CO2_01_T/?limit=20&from=10/09/2012T10:00:00 && sleep 0.2\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["8bea280f.34923"]]},{"id":"8bea280f.34923","type":"exec","z":"8a8b41a.6576c4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":490,"y":220,"wires":[["c1d002c0.a4cc"],[],[]]},{"id":"c1d002c0.a4cc","type":"json","z":"8a8b41a.6576c4","name":"","property":"payload","action":"","pretty":true,"x":650,"y":160,"wires":[["2e5f952f.00d0a2"]]},{"id":"2e5f952f.00d0a2","type":"function","z":"8a8b41a.6576c4","name":"Seleccio dades","func":"msg.payload = msg.payload.observations\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["8be42df8.7e2958"]]},{"id":"8be42df8.7e2958","type":"function","z":"8a8b41a.6576c4","name":"Introducció dades InfluxDB","func":"//var a = [\"a\", \"b\", \"c\"];\n\n\na = msg.payload;\nvar f = [];\n//var t = [];\n// var ttt = [];\n/*\nfunction myFunction(item) {\n  f.push(Number(item.value));\n} \n*/\n\n/*\nfor (var i = 0; i < a.length; i++){\n    \n    // var data;\n   // var time = RED.util.cloneMessage(msg);\n//    var value = RED.util.cloneMessage(msg);\n    \n    time.payload = a[i].time;\n    value.payload = parseFloat(a[i].value);\n     var time = parseFloat(a[i].value);\n     var value = a[i].timestamp;\n    \n   new_msg.payload =  parseFloat(a[i].value);\n    new_msg2.payload = a[i].time;\n    \n    msg.payload = { \"time\" : new_msg2 , \"value\" : new_msg }\n    \n    f.push(msg);\n\n   // ttt.push(...t, ...f);\n    \n}\n*/\n\n\nfor(var i = 0; i<msg.payload.length; i++){\n    if (msg.payload[i].time.toString().length <= 13 ){\n        msg.payload[i].time = msg.payload[i].time * 1000000;\n    }\n    \n    msg.payload[i]={\"time\":msg.payload[i].time,\"value\":parseFloat(msg.payload[i].value)};\n}\n\n\n\n/*\nvar json;\nvar t = [];\nfor(var i = 0; i<a.length; i++){\n   /* if(i===0){\n        json.payload = '{{\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' },';\n    }else if(i===(msg.payload.length - 1)){\n         json.payload = json.payload + '{\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' }';\n    }else{\n        json.payload = json.payload + ' {\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' },';\n    }\n    */\n    \n\n   // t.push(a[i].time);\n    \n// }\n\n\n\n\n\n\n\n\n\n\n/*\na.forEach(function(entry) {\n    f += entry.value[0] + \" \";\n});\n*/\n\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":360,"wires":[["840f091c.b2e9b"]]},{"id":"5e642d82.d68edc","type":"influxdb out","z":"8a8b41a.6576c4","influxdb":"94d61e04.194d48","name":"","measurement":"C02_01_T","precision":"","retentionPolicy":"","x":980,"y":560,"wires":[]},{"id":"840f091c.b2e9b","type":"function","z":"8a8b41a.6576c4","name":"Sustracció de dades","func":"var i;\nvar ff = [];\n\nfor (i = 0; i < msg.payload.length; i++){\n    var new_msg = RED.util.cloneMessage(msg);\n    new_msg.payload = msg.payload[i];\n    ff.push(new_msg);\n\n}\n\nreturn [ff];\n\n\n\n\n","outputs":1,"noerr":0,"x":600,"y":460,"wires":[["5ac13b86.17dddc"]]},{"id":"5ac13b86.17dddc","type":"function","z":"8a8b41a.6576c4","name":"Formatting","func":"var data = {\n    \"time\": msg.payload.time,\n    \"value\": msg.payload.value\n}\nmsg.payload = data\nreturn msg","outputs":1,"noerr":0,"x":690,"y":540,"wires":[["5e642d82.d68edc"]]},{"id":"df3d71e5.c85ed8","type":"inject","z":"8a8b41a.6576c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":660,"wires":[["cea78ee2.3e7c1"]]},{"id":"cea78ee2.3e7c1","type":"function","z":"8a8b41a.6576c4","name":"petició sentilo","func":"msg.payload=\"curl -X GET -H \\\"IDENTITY_KEY: b4d4db576b754d5b7bfffc5c448df5c2da12c0edeba574ff9a98045a108f056b\\\" https://api-sentilo.diba.cat/data/rubi@xoic/TRS21_T/?limit=20&from=10/09/2012T10:00:00 && sleep 0.2\"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":740,"wires":[["a1134885.53dba"]]},{"id":"a1134885.53dba","type":"exec","z":"8a8b41a.6576c4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":820,"wires":[["5f4995a5.4446e4"],[],[]]},{"id":"5f4995a5.4446e4","type":"json","z":"8a8b41a.6576c4","name":"","property":"payload","action":"","pretty":true,"x":610,"y":760,"wires":[["c27784f9.eeaee8"]]},{"id":"c27784f9.eeaee8","type":"function","z":"8a8b41a.6576c4","name":"Seleccio dintre l'array","func":"msg.payload = msg.payload.observations\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":880,"wires":[["152b3494.449e5b"]]},{"id":"152b3494.449e5b","type":"function","z":"8a8b41a.6576c4","name":"Introducció dades InfluxDB","func":"//var a = [\"a\", \"b\", \"c\"];\n\n\na = msg.payload;\nvar f = [];\n//var t = [];\n// var ttt = [];\n/*\nfunction myFunction(item) {\n  f.push(Number(item.value));\n} \n*/\n\n/*\nfor (var i = 0; i < a.length; i++){\n    \n    // var data;\n   // var time = RED.util.cloneMessage(msg);\n//    var value = RED.util.cloneMessage(msg);\n    \n    time.payload = a[i].time;\n    value.payload = parseFloat(a[i].value);\n     var time = parseFloat(a[i].value);\n     var value = a[i].timestamp;\n    \n   new_msg.payload =  parseFloat(a[i].value);\n    new_msg2.payload = a[i].time;\n    \n    msg.payload = { \"time\" : new_msg2 , \"value\" : new_msg }\n    \n    f.push(msg);\n\n   // ttt.push(...t, ...f);\n    \n}\n*/\n\n\nfor(var i = 0; i<msg.payload.length; i++){\n    if (msg.payload[i].time.toString().length <= 13 ){\n        msg.payload[i].time = msg.payload[i].time * 1000000;\n    }\n    \n    msg.payload[i]={\"time\":msg.payload[i].time,\"value\":parseFloat(msg.payload[i].value)};\n}\n\n\n\n/*\nvar json;\nvar t = [];\nfor(var i = 0; i<a.length; i++){\n   /* if(i===0){\n        json.payload = '{{\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' },';\n    }else if(i===(msg.payload.length - 1)){\n         json.payload = json.payload + '{\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' }';\n    }else{\n        json.payload = json.payload + ' {\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' },';\n    }\n    */\n    \n\n   // t.push(a[i].time);\n    \n// }\n\n\n\n\n\n\n\n\n\n\n/*\na.forEach(function(entry) {\n    f += entry.value[0] + \" \";\n});\n*/\n\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":960,"wires":[["6d99d1.5add7e3"]]},{"id":"9090f65a.35cb98","type":"influxdb out","z":"8a8b41a.6576c4","influxdb":"94d61e04.194d48","name":"","measurement":" TRS21_T","precision":"","retentionPolicy":"","x":920,"y":1140,"wires":[]},{"id":"6d99d1.5add7e3","type":"function","z":"8a8b41a.6576c4","name":"Sustracció de dades","func":"var i;\nvar ff = [];\n\nfor (i = 0; i < msg.payload.length; i++){\n    var new_msg = RED.util.cloneMessage(msg);\n    new_msg.payload = msg.payload[i];\n    ff.push(new_msg);\n\n}\n\nreturn [ff];\n\n\n\n\n","outputs":1,"noerr":0,"x":560,"y":1060,"wires":[["f47561cf.1989b8"]]},{"id":"f47561cf.1989b8","type":"function","z":"8a8b41a.6576c4","name":"Formatting","func":"var data = {\n    \"time\": msg.payload.time,\n    \"value\": msg.payload.value\n}\nmsg.payload = data\nreturn msg","outputs":1,"noerr":0,"x":650,"y":1140,"wires":[["9090f65a.35cb98"]]},{"id":"901d60ac.75ecf8","type":"comment","z":"8a8b41a.6576c4","name":"Dades CO2","info":"","x":610,"y":80,"wires":[]},{"id":"f5b950db.dc88b","type":"comment","z":"8a8b41a.6576c4","name":"Dades TR21","info":"","x":550,"y":680,"wires":[]},{"id":"66465df9.505ea4","type":"inject","z":"8a8b41a.6576c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1060,"y":60,"wires":[["225a604f.148838"]]},{"id":"225a604f.148838","type":"function","z":"8a8b41a.6576c4","name":"petició sentilo","func":"msg.payload=\"curl -X GET -H \\\"IDENTITY_KEY: b4d4db576b754d5b7bfffc5c448df5c2da12c0edeba574ff9a98045a108f056b\\\" https://api-sentilo.diba.cat/data/rubi@xoic/CO2_04_ppm/?limit=20&from=10/09/2012T10:00:00 && sleep 0.2\"\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":140,"wires":[["c12a3d17.3ed4c8"]]},{"id":"c12a3d17.3ed4c8","type":"exec","z":"8a8b41a.6576c4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1250,"y":220,"wires":[["f8e81abd.f3a298"],[],[]]},{"id":"f8e81abd.f3a298","type":"json","z":"8a8b41a.6576c4","name":"","property":"payload","action":"","pretty":true,"x":1410,"y":160,"wires":[["bda9baae.92807"]]},{"id":"bda9baae.92807","type":"function","z":"8a8b41a.6576c4","name":"Seleccio dintre l'array","func":"msg.payload = msg.payload.observations\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":280,"wires":[["e388ba4a.fad7c"]]},{"id":"e388ba4a.fad7c","type":"function","z":"8a8b41a.6576c4","name":"Introducció dades InfluxDB","func":"//var a = [\"a\", \"b\", \"c\"];\n\n\na = msg.payload;\nvar f = [];\n//var t = [];\n// var ttt = [];\n/*\nfunction myFunction(item) {\n  f.push(Number(item.value));\n} \n*/\n\n/*\nfor (var i = 0; i < a.length; i++){\n    \n    // var data;\n   // var time = RED.util.cloneMessage(msg);\n//    var value = RED.util.cloneMessage(msg);\n    \n    time.payload = a[i].time;\n    value.payload = parseFloat(a[i].value);\n     var time = parseFloat(a[i].value);\n     var value = a[i].timestamp;\n    \n   new_msg.payload =  parseFloat(a[i].value);\n    new_msg2.payload = a[i].time;\n    \n    msg.payload = { \"time\" : new_msg2 , \"value\" : new_msg }\n    \n    f.push(msg);\n\n   // ttt.push(...t, ...f);\n    \n}\n*/\n\n\nfor(var i = 0; i<msg.payload.length; i++){\n    if (msg.payload[i].time.toString().length <= 13 ){\n        msg.payload[i].time = msg.payload[i].time * 1000000;\n    }\n    \n    msg.payload[i]={\"time\":msg.payload[i].time,\"value\":parseFloat(msg.payload[i].value)};\n}\n\n\n\n/*\nvar json;\nvar t = [];\nfor(var i = 0; i<a.length; i++){\n   /* if(i===0){\n        json.payload = '{{\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' },';\n    }else if(i===(msg.payload.length - 1)){\n         json.payload = json.payload + '{\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' }';\n    }else{\n        json.payload = json.payload + ' {\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' },';\n    }\n    */\n    \n\n   // t.push(a[i].time);\n    \n// }\n\n\n\n\n\n\n\n\n\n\n/*\na.forEach(function(entry) {\n    f += entry.value[0] + \" \";\n});\n*/\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":360,"wires":[["f7e707b9.df4a28"]]},{"id":"ff3b0b43.fd961","type":"influxdb out","z":"8a8b41a.6576c4","influxdb":"94d61e04.194d48","name":"","measurement":"CO2_04_ppm","precision":"","retentionPolicy":"","x":1730,"y":540,"wires":[]},{"id":"f7e707b9.df4a28","type":"function","z":"8a8b41a.6576c4","name":"Sustracció de dades","func":"var i;\nvar ff = [];\n\nfor (i = 0; i < msg.payload.length; i++){\n    var new_msg = RED.util.cloneMessage(msg);\n    new_msg.payload = msg.payload[i];\n    ff.push(new_msg);\n\n}\n\nreturn [ff];\n\n\n\n\n","outputs":1,"noerr":0,"x":1360,"y":460,"wires":[["977f6873.11834"]]},{"id":"977f6873.11834","type":"function","z":"8a8b41a.6576c4","name":"Formatting","func":"var data = {\n    \"time\": msg.payload.time,\n    \"value\": msg.payload.value\n}\nmsg.payload = data\nreturn msg","outputs":1,"noerr":0,"x":1450,"y":540,"wires":[["ff3b0b43.fd961"]]},{"id":"c2c27850.722db8","type":"comment","z":"8a8b41a.6576c4","name":"CO2_04_ppm","info":"","x":1350,"y":80,"wires":[]},{"id":"7b22536c.bc91d4","type":"inject","z":"8a8b41a.6576c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1580,"y":740,"wires":[["6acf533d.a8ff2c"]]},{"id":"6acf533d.a8ff2c","type":"function","z":"8a8b41a.6576c4","name":"petició sentilo","func":"msg.payload=\"curl -X GET -H \\\"IDENTITY_KEY: b4d4db576b754d5b7bfffc5c448df5c2da12c0edeba574ff9a98045a108f056b\\\" https://api-sentilo.diba.cat/data/rubi@xoic/AQ_01_T/?limit=20&from=10/09/2012T10:00:00 && sleep 0.2\"\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":820,"wires":[["183fe4fa.31d153"]]},{"id":"183fe4fa.31d153","type":"exec","z":"8a8b41a.6576c4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1770,"y":900,"wires":[["4eb3f925.12eb9"],[],[]]},{"id":"4eb3f925.12eb9","type":"json","z":"8a8b41a.6576c4","name":"","property":"payload","action":"","pretty":true,"x":1930,"y":840,"wires":[["b31184a9.5e4ab8"]]},{"id":"b31184a9.5e4ab8","type":"function","z":"8a8b41a.6576c4","name":"Seleccio dintre l'array","func":"msg.payload = msg.payload.observations\nreturn msg;","outputs":1,"noerr":0,"x":1900,"y":960,"wires":[["b3316fb3.ed1cd"]]},{"id":"b3316fb3.ed1cd","type":"function","z":"8a8b41a.6576c4","name":"Introducció dades InfluxDB","func":"//var a = [\"a\", \"b\", \"c\"];\n\n\na = msg.payload;\nvar f = [];\n//var t = [];\n// var ttt = [];\n/*\nfunction myFunction(item) {\n  f.push(Number(item.value));\n} \n*/\n\n/*\nfor (var i = 0; i < a.length; i++){\n    \n    // var data;\n   // var time = RED.util.cloneMessage(msg);\n//    var value = RED.util.cloneMessage(msg);\n    \n    time.payload = a[i].time;\n    value.payload = parseFloat(a[i].value);\n     var time = parseFloat(a[i].value);\n     var value = a[i].timestamp;\n    \n   new_msg.payload =  parseFloat(a[i].value);\n    new_msg2.payload = a[i].time;\n    \n    msg.payload = { \"time\" : new_msg2 , \"value\" : new_msg }\n    \n    f.push(msg);\n\n   // ttt.push(...t, ...f);\n    \n}\n*/\n\n\nfor(var i = 0; i<msg.payload.length; i++){\n    if (msg.payload[i].time.toString().length <= 13 ){\n        msg.payload[i].time = msg.payload[i].time * 1000000;\n    }\n    \n    msg.payload[i]={\"time\":msg.payload[i].time,\"value\":parseFloat(msg.payload[i].value)};\n}\n\n\n\n/*\nvar json;\nvar t = [];\nfor(var i = 0; i<a.length; i++){\n   /* if(i===0){\n        json.payload = '{{\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' },';\n    }else if(i===(msg.payload.length - 1)){\n         json.payload = json.payload + '{\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' }';\n    }else{\n        json.payload = json.payload + ' {\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' },';\n    }\n    */\n    \n\n   // t.push(a[i].time);\n    \n// }\n\n\n\n\n\n\n\n\n\n\n/*\na.forEach(function(entry) {\n    f += entry.value[0] + \" \";\n});\n*/\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1800,"y":1040,"wires":[["39bef7ad.f497d8"]]},{"id":"167464fb.6182bb","type":"influxdb out","z":"8a8b41a.6576c4","influxdb":"94d61e04.194d48","name":"","measurement":"AQ_01_T","precision":"","retentionPolicy":"","x":2240,"y":1220,"wires":[]},{"id":"39bef7ad.f497d8","type":"function","z":"8a8b41a.6576c4","name":"Sustracció de dades","func":"var i;\nvar ff = [];\n\nfor (i = 0; i < msg.payload.length; i++){\n    var new_msg = RED.util.cloneMessage(msg);\n    new_msg.payload = msg.payload[i];\n    ff.push(new_msg);\n\n}\n\nreturn [ff];\n\n\n\n\n","outputs":1,"noerr":0,"x":1880,"y":1140,"wires":[["a2e77654.58dd08"]]},{"id":"a2e77654.58dd08","type":"function","z":"8a8b41a.6576c4","name":"Formatting","func":"var data = {\n    \"time\": msg.payload.time,\n    \"value\": msg.payload.value\n}\nmsg.payload = data\nreturn msg","outputs":1,"noerr":0,"x":1970,"y":1220,"wires":[["167464fb.6182bb"]]},{"id":"500f4ab3.711d04","type":"comment","z":"8a8b41a.6576c4","name":"Dades DL-TRS21","info":"","x":1880,"y":760,"wires":[]},{"id":"94d61e04.194d48","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Mesures","name":"","usetls":false,"tls":""}]