node-red/Flow Dades Sentilo.json
[{"id":"8a8b41a.6576c4","type":"tab","label":"Recollida de dades Sentilo","disabled":false,"info":""},{"id":"ed5ed821.4bbdb8","type":"inject","z":"8a8b41a.6576c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":60,"wires":[["680462d7.984aa4","cea78ee2.3e7c1","225a604f.148838","6acf533d.a8ff2c"]]},{"id":"680462d7.984aa4","type":"function","z":"8a8b41a.6576c4","name":"petició sentilo C02_01_T","func":"msg.payload=\"curl -X GET -H \\\"IDENTITY_KEY: b4d4db576b754d5b7bfffc5c448df5c2da12c0edeba574ff9a98045a108f056b\\\" https://api-sentilo.diba.cat/data/rubi@xoic/CO2_01_T/?limit=20&from=10/09/2012T10:00:00 && sleep 0.2\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["8bea280f.34923"]]},{"id":"8bea280f.34923","type":"exec","z":"8a8b41a.6576c4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":490,"y":220,"wires":[["c1d002c0.a4cc"],[],[]]},{"id":"c1d002c0.a4cc","type":"json","z":"8a8b41a.6576c4","name":"","property":"payload","action":"","pretty":true,"x":630,"y":200,"wires":[["2e5f952f.00d0a2"]]},{"id":"2e5f952f.00d0a2","type":"function","z":"8a8b41a.6576c4","name":"Seleccio dintre l'array","func":"msg.payload = msg.payload.observations\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":220,"wires":[["8be42df8.7e2958"]]},{"id":"8be42df8.7e2958","type":"function","z":"8a8b41a.6576c4","name":"Introducció dades InfluxDB","func":"a = msg.payload;\nvar f = [];\n\n\nfor(var i = 0; i<msg.payload.length; i++){\n    if (msg.payload[i].time.toString().length <= 13 ){\n        msg.payload[i].time = msg.payload[i].time * 1000000;\n    }\n    \n    msg.payload[i]={\"time\":msg.payload[i].time,\"value\":parseFloat(msg.payload[i].value)};\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":220,"wires":[["840f091c.b2e9b"]]},{"id":"5e642d82.d68edc","type":"influxdb out","z":"8a8b41a.6576c4","influxdb":"94d61e04.194d48","name":"","measurement":"C02_01_T","precision":"","retentionPolicy":"","x":1880,"y":220,"wires":[]},{"id":"840f091c.b2e9b","type":"function","z":"8a8b41a.6576c4","name":"Sustracció de dades","func":"var i;\nvar ff = [];\n\nfor (i = 0; i < msg.payload.length; i++){\n    var new_msg = RED.util.cloneMessage(msg);\n    new_msg.payload = msg.payload[i];\n    ff.push(new_msg);\n\n}\n\nreturn [ff];\n\n\n\n\n","outputs":1,"noerr":0,"x":1340,"y":220,"wires":[["5ac13b86.17dddc"]]},{"id":"5ac13b86.17dddc","type":"function","z":"8a8b41a.6576c4","name":"Formatting","func":"var data = {\n    \"time\": msg.payload.time,\n    \"value\": msg.payload.value\n}\nmsg.payload = data\nreturn msg","outputs":1,"noerr":0,"x":1590,"y":220,"wires":[["5e642d82.d68edc"]]},{"id":"cea78ee2.3e7c1","type":"function","z":"8a8b41a.6576c4","name":"petició sentilo TRS21_T","func":"msg.payload=\"curl -X GET -H \\\"IDENTITY_KEY: b4d4db576b754d5b7bfffc5c448df5c2da12c0edeba574ff9a98045a108f056b\\\" https://api-sentilo.diba.cat/data/rubi@xoic/TRS21_T/?limit=20&from=10/09/2012T10:00:00 && sleep 0.2\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["a1134885.53dba"]]},{"id":"a1134885.53dba","type":"exec","z":"8a8b41a.6576c4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":490,"y":280,"wires":[["5f4995a5.4446e4"],[],[]]},{"id":"5f4995a5.4446e4","type":"json","z":"8a8b41a.6576c4","name":"","property":"payload","action":"","pretty":true,"x":630,"y":260,"wires":[["c27784f9.eeaee8"]]},{"id":"c27784f9.eeaee8","type":"function","z":"8a8b41a.6576c4","name":"Seleccio dintre l'array","func":"msg.payload = msg.payload.observations\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":280,"wires":[["152b3494.449e5b"]]},{"id":"152b3494.449e5b","type":"function","z":"8a8b41a.6576c4","name":"Introducció dades InfluxDB","func":"//var a = [\"a\", \"b\", \"c\"];\n\n\na = msg.payload;\nvar f = [];\n//var t = [];\n// var ttt = [];\n/*\nfunction myFunction(item) {\n  f.push(Number(item.value));\n} \n*/\n\n/*\nfor (var i = 0; i < a.length; i++){\n    \n    // var data;\n   // var time = RED.util.cloneMessage(msg);\n//    var value = RED.util.cloneMessage(msg);\n    \n    time.payload = a[i].time;\n    value.payload = parseFloat(a[i].value);\n     var time = parseFloat(a[i].value);\n     var value = a[i].timestamp;\n    \n   new_msg.payload =  parseFloat(a[i].value);\n    new_msg2.payload = a[i].time;\n    \n    msg.payload = { \"time\" : new_msg2 , \"value\" : new_msg }\n    \n    f.push(msg);\n\n   // ttt.push(...t, ...f);\n    \n}\n*/\n\n\nfor(var i = 0; i<msg.payload.length; i++){\n    if (msg.payload[i].time.toString().length <= 13 ){\n        msg.payload[i].time = msg.payload[i].time * 1000000;\n    }\n    \n    msg.payload[i]={\"time\":msg.payload[i].time,\"value\":parseFloat(msg.payload[i].value)};\n}\n\n\n\n/*\nvar json;\nvar t = [];\nfor(var i = 0; i<a.length; i++){\n   /* if(i===0){\n        json.payload = '{{\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' },';\n    }else if(i===(msg.payload.length - 1)){\n         json.payload = json.payload + '{\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' }';\n    }else{\n        json.payload = json.payload + ' {\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' },';\n    }\n    */\n    \n\n   // t.push(a[i].time);\n    \n// }\n\n\n\n\n\n\n\n\n\n\n/*\na.forEach(function(entry) {\n    f += entry.value[0] + \" \";\n});\n*/\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":280,"wires":[["6d99d1.5add7e3"]]},{"id":"9090f65a.35cb98","type":"influxdb out","z":"8a8b41a.6576c4","influxdb":"94d61e04.194d48","name":"","measurement":" TRS21_T","precision":"","retentionPolicy":"","x":1880,"y":280,"wires":[]},{"id":"6d99d1.5add7e3","type":"function","z":"8a8b41a.6576c4","name":"Sustracció de dades","func":"var i;\nvar ff = [];\n\nfor (i = 0; i < msg.payload.length; i++){\n    var new_msg = RED.util.cloneMessage(msg);\n    new_msg.payload = msg.payload[i];\n    ff.push(new_msg);\n\n}\n\nreturn [ff];\n\n\n\n\n","outputs":1,"noerr":0,"x":1340,"y":280,"wires":[["f47561cf.1989b8"]]},{"id":"f47561cf.1989b8","type":"function","z":"8a8b41a.6576c4","name":"Formatting","func":"var data = {\n    \"time\": msg.payload.time,\n    \"value\": msg.payload.value\n}\nmsg.payload = data\nreturn msg","outputs":1,"noerr":0,"x":1590,"y":280,"wires":[["9090f65a.35cb98"]]},{"id":"225a604f.148838","type":"function","z":"8a8b41a.6576c4","name":"petició sentilo CO2_04_ppm","func":"msg.payload=\"curl -X GET -H \\\"IDENTITY_KEY: b4d4db576b754d5b7bfffc5c448df5c2da12c0edeba574ff9a98045a108f056b\\\" https://api-sentilo.diba.cat/data/rubi@xoic/CO2_04_ppm/?limit=20&from=10/09/2012T10:00:00 && sleep 0.2\"\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":160,"wires":[["c12a3d17.3ed4c8"]]},{"id":"c12a3d17.3ed4c8","type":"exec","z":"8a8b41a.6576c4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":490,"y":160,"wires":[["f8e81abd.f3a298"],[],[]]},{"id":"f8e81abd.f3a298","type":"json","z":"8a8b41a.6576c4","name":"","property":"payload","action":"","pretty":true,"x":650,"y":140,"wires":[["bda9baae.92807"]]},{"id":"bda9baae.92807","type":"function","z":"8a8b41a.6576c4","name":"Seleccio dintre l'array","func":"msg.payload = msg.payload.observations\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":140,"wires":[["e388ba4a.fad7c"]]},{"id":"e388ba4a.fad7c","type":"function","z":"8a8b41a.6576c4","name":"Introducció dades InfluxDB","func":"//var a = [\"a\", \"b\", \"c\"];\n\n\na = msg.payload;\nvar f = [];\n//var t = [];\n// var ttt = [];\n/*\nfunction myFunction(item) {\n  f.push(Number(item.value));\n} \n*/\n\n/*\nfor (var i = 0; i < a.length; i++){\n    \n    // var data;\n   // var time = RED.util.cloneMessage(msg);\n//    var value = RED.util.cloneMessage(msg);\n    \n    time.payload = a[i].time;\n    value.payload = parseFloat(a[i].value);\n     var time = parseFloat(a[i].value);\n     var value = a[i].timestamp;\n    \n   new_msg.payload =  parseFloat(a[i].value);\n    new_msg2.payload = a[i].time;\n    \n    msg.payload = { \"time\" : new_msg2 , \"value\" : new_msg }\n    \n    f.push(msg);\n\n   // ttt.push(...t, ...f);\n    \n}\n*/\n\n\nfor(var i = 0; i<msg.payload.length; i++){\n    if (msg.payload[i].time.toString().length <= 13 ){\n        msg.payload[i].time = msg.payload[i].time * 1000000;\n    }\n    \n    msg.payload[i]={\"time\":msg.payload[i].time,\"value\":parseFloat(msg.payload[i].value)};\n}\n\n\n\n/*\nvar json;\nvar t = [];\nfor(var i = 0; i<a.length; i++){\n   /* if(i===0){\n        json.payload = '{{\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' },';\n    }else if(i===(msg.payload.length - 1)){\n         json.payload = json.payload + '{\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' }';\n    }else{\n        json.payload = json.payload + ' {\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' },';\n    }\n    */\n    \n\n   // t.push(a[i].time);\n    \n// }\n\n\n\n\n\n\n\n\n\n\n/*\na.forEach(function(entry) {\n    f += entry.value[0] + \" \";\n});\n*/\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":140,"wires":[["f7e707b9.df4a28"]]},{"id":"ff3b0b43.fd961","type":"influxdb out","z":"8a8b41a.6576c4","influxdb":"94d61e04.194d48","name":"","measurement":"CO2_04_ppm","precision":"","retentionPolicy":"","x":1870,"y":140,"wires":[]},{"id":"f7e707b9.df4a28","type":"function","z":"8a8b41a.6576c4","name":"Sustracció de dades","func":"var i;\nvar ff = [];\n\nfor (i = 0; i < msg.payload.length; i++){\n    var new_msg = RED.util.cloneMessage(msg);\n    new_msg.payload = msg.payload[i];\n    ff.push(new_msg);\n\n}\n\nreturn [ff];\n\n\n\n\n","outputs":1,"noerr":0,"x":1360,"y":140,"wires":[["977f6873.11834"]]},{"id":"977f6873.11834","type":"function","z":"8a8b41a.6576c4","name":"Formatting","func":"var data = {\n    \"time\": msg.payload.time,\n    \"value\": msg.payload.value\n}\nmsg.payload = data\nreturn msg","outputs":1,"noerr":0,"x":1590,"y":140,"wires":[["ff3b0b43.fd961"]]},{"id":"6acf533d.a8ff2c","type":"function","z":"8a8b41a.6576c4","name":"petició sentilo AQ_01_T","func":"msg.payload=\"curl -X GET -H \\\"IDENTITY_KEY: b4d4db576b754d5b7bfffc5c448df5c2da12c0edeba574ff9a98045a108f056b\\\" https://api-sentilo.diba.cat/data/rubi@xoic/AQ_01_T/?limit=20&from=10/09/2012T10:00:00 && sleep 0.2\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["183fe4fa.31d153"]]},{"id":"183fe4fa.31d153","type":"exec","z":"8a8b41a.6576c4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":490,"y":340,"wires":[["4eb3f925.12eb9"],[],[]]},{"id":"4eb3f925.12eb9","type":"json","z":"8a8b41a.6576c4","name":"","property":"payload","action":"","pretty":true,"x":630,"y":340,"wires":[["b31184a9.5e4ab8"]]},{"id":"b31184a9.5e4ab8","type":"function","z":"8a8b41a.6576c4","name":"Seleccio dintre l'array","func":"msg.payload = msg.payload.observations\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":340,"wires":[["b3316fb3.ed1cd"]]},{"id":"b3316fb3.ed1cd","type":"function","z":"8a8b41a.6576c4","name":"Introducció dades InfluxDB","func":"//var a = [\"a\", \"b\", \"c\"];\n\n\na = msg.payload;\nvar f = [];\n//var t = [];\n// var ttt = [];\n/*\nfunction myFunction(item) {\n  f.push(Number(item.value));\n} \n*/\n\n/*\nfor (var i = 0; i < a.length; i++){\n    \n    // var data;\n   // var time = RED.util.cloneMessage(msg);\n//    var value = RED.util.cloneMessage(msg);\n    \n    time.payload = a[i].time;\n    value.payload = parseFloat(a[i].value);\n     var time = parseFloat(a[i].value);\n     var value = a[i].timestamp;\n    \n   new_msg.payload =  parseFloat(a[i].value);\n    new_msg2.payload = a[i].time;\n    \n    msg.payload = { \"time\" : new_msg2 , \"value\" : new_msg }\n    \n    f.push(msg);\n\n   // ttt.push(...t, ...f);\n    \n}\n*/\n\n\nfor(var i = 0; i<msg.payload.length; i++){\n    if (msg.payload[i].time.toString().length <= 13 ){\n        msg.payload[i].time = msg.payload[i].time * 1000000;\n    }\n    \n    msg.payload[i]={\"time\":msg.payload[i].time,\"value\":parseFloat(msg.payload[i].value)};\n}\n\n\n\n/*\nvar json;\nvar t = [];\nfor(var i = 0; i<a.length; i++){\n   /* if(i===0){\n        json.payload = '{{\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' },';\n    }else if(i===(msg.payload.length - 1)){\n         json.payload = json.payload + '{\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' }';\n    }else{\n        json.payload = json.payload + ' {\"time\": ' + msg.payload[i].time +', \"value\": ' + msg.payload[i].value + ' },';\n    }\n    */\n    \n\n   // t.push(a[i].time);\n    \n// }\n\n\n\n\n\n\n\n\n\n\n/*\na.forEach(function(entry) {\n    f += entry.value[0] + \" \";\n});\n*/\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":340,"wires":[["39bef7ad.f497d8"]]},{"id":"167464fb.6182bb","type":"influxdb out","z":"8a8b41a.6576c4","influxdb":"94d61e04.194d48","name":"","measurement":"AQ_01_T","precision":"","retentionPolicy":"","x":1880,"y":340,"wires":[]},{"id":"39bef7ad.f497d8","type":"function","z":"8a8b41a.6576c4","name":"Sustracció de dades","func":"var i;\nvar ff = [];\n\nfor (i = 0; i < msg.payload.length; i++){\n    var new_msg = RED.util.cloneMessage(msg);\n    new_msg.payload = msg.payload[i];\n    ff.push(new_msg);\n\n}\n\nreturn [ff];\n\n\n\n\n","outputs":1,"noerr":0,"x":1340,"y":340,"wires":[["a2e77654.58dd08"]]},{"id":"a2e77654.58dd08","type":"function","z":"8a8b41a.6576c4","name":"Formatting","func":"var data = {\n    \"time\": msg.payload.time,\n    \"value\": msg.payload.value\n}\nmsg.payload = data\nreturn msg","outputs":1,"noerr":0,"x":1590,"y":340,"wires":[["167464fb.6182bb","eefbf631.e60c6"]]},{"id":"329bf415.0eff4c","type":"function","z":"8a8b41a.6576c4","name":"Build query","func":"\nvar f1 = \"curl -X GET -H \\\"IDENTITY_KEY:\" + msg.payload.Token + \"\\\"\" + \"\\t\" + msg.payload.Url +  msg.payload.Sensor + \"?limit=20&from=10/09/2012T10:00:00 && sleep 0.2\";\nmsg.payload = f1;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":660,"wires":[["e50ce2ec.cccbd"]]},{"id":"e50ce2ec.cccbd","type":"exec","z":"8a8b41a.6576c4","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":590,"y":660,"wires":[["3808e00f.30cef"],[],[]]},{"id":"c7de57dd.a199d8","type":"function","z":"8a8b41a.6576c4","name":"Seleccio dintre l'array","func":"msg.payload = msg.payload.observations\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":660,"wires":[["71691874.8f0788"]]},{"id":"71691874.8f0788","type":"function","z":"8a8b41a.6576c4","name":"Introducció dades InfluxDB","func":"a = msg.payload;\nvar f = [];\n\nfor(var i = 0; i<msg.payload.length; i++){\n    if (msg.payload[i].time.toString().length <= 13 ){\n        msg.payload[i].time = msg.payload[i].time * 1000000;\n    }\n    \n    msg.payload[i]={\"time\":msg.payload[i].time,\"value\":parseFloat(msg.payload[i].value)};\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":660,"wires":[["9b7e2665.d5436"]]},{"id":"9b7e2665.d5436","type":"function","z":"8a8b41a.6576c4","name":"Sustracció de dades","func":"var i;\nvar ff = [];\n\nfor (i = 0; i < msg.payload.length; i++){\n    var new_msg = RED.util.cloneMessage(msg);\n    new_msg.payload = msg.payload[i];\n    ff.push(new_msg);\n\n}\n\nreturn [ff];\n\n\n\n\n","outputs":1,"noerr":0,"x":1520,"y":680,"wires":[["71936e58.bee8a8"]]},{"id":"71936e58.bee8a8","type":"function","z":"8a8b41a.6576c4","name":"Formatting","func":"var data = {\n    \"time\": msg.payload.time,\n    \"value\": msg.payload.value\n}\nmsg.payload = data\nreturn msg","outputs":1,"noerr":0,"x":1430,"y":800,"wires":[["89087604.83ee28"]]},{"id":"89087604.83ee28","type":"influxdb out","z":"8a8b41a.6576c4","influxdb":"94d61e04.194d48","name":"","measurement":"pruebagrafica","precision":"","retentionPolicy":"","x":1790,"y":840,"wires":[]},{"id":"3808e00f.30cef","type":"json","z":"8a8b41a.6576c4","name":"","property":"payload","action":"","pretty":true,"x":750,"y":660,"wires":[["c7de57dd.a199d8"]]},{"id":"4b1622.3073c1e","type":"ui_form","z":"8a8b41a.6576c4","name":"","label":"Interfaz cliente","group":"dd4eca9a.1673b8","order":4,"width":0,"height":0,"options":[{"label":"Url","value":"Url","type":"text","required":true,"rows":null},{"label":"Token","value":"Token","type":"password","required":true,"rows":null},{"label":"Sensor","value":"Sensor","type":"text","required":true,"rows":null}],"formValue":{"Url":"","Token":"","Sensor":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":680,"wires":[["329bf415.0eff4c"]]},{"id":"98b543d9.d53688","type":"ui_button","z":"8a8b41a.6576c4","name":"","group":"e19f3f8c.0e0358","order":10,"width":"2","height":"1","passthru":true,"label":"24 H","tooltip":"","color":"","bgcolor":"","icon":"","payload":"24","payloadType":"num","topic":"","x":390,"y":940,"wires":[["90189aa8.2e0e1"]]},{"id":"5d52b8f1.ec30c","type":"ui_button","z":"8a8b41a.6576c4","name":"","group":"e19f3f8c.0e0358","order":9,"width":"2","height":"1","passthru":false,"label":"12 H","tooltip":"","color":"","bgcolor":"","icon":"","payload":"12","payloadType":"num","topic":"","x":390,"y":980,"wires":[["90189aa8.2e0e1"]]},{"id":"9720f223.84873","type":"ui_button","z":"8a8b41a.6576c4","name":"","group":"e19f3f8c.0e0358","order":8,"width":"2","height":"1","passthru":false,"label":"1 H","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":390,"y":900,"wires":[["90189aa8.2e0e1"]]},{"id":"90189aa8.2e0e1","type":"function","z":"8a8b41a.6576c4","name":"SetTimeRange","func":"var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar p_hr = 1000*60*60; //1 Hour\n\nvar d = new Date();\nvar current = d.getTime();\n\n\nmsg.fromdate = \"now-\" + msg.payload +\"h\";\nmsg.enddate = \"now\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":940,"wires":[["8836b9a4.38bb68"]]},{"id":"813b30e.2fc605","type":"function","z":"8a8b41a.6576c4","name":"SetTimeYesterday","func":"var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar p_hr = 1000*60*60; //1 Hour\n\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0); //Timestamp midnight\n\nmsg.fromdate = today0h - p_1d\nmsg.enddate = today0h\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":980,"wires":[["8836b9a4.38bb68"]]},{"id":"1278f34d.a97055","type":"ui_button","z":"8a8b41a.6576c4","name":"","group":"e19f3f8c.0e0358","order":11,"width":"2","height":"1","passthru":false,"label":"Ayer","tooltip":"","color":"","bgcolor":"","icon":"","payload":"yesterday","payloadType":"str","topic":"","x":370,"y":1020,"wires":[["813b30e.2fc605"]]},{"id":"645e0e72.c3925","type":"ui_template","z":"8a8b41a.6576c4","group":"e19f3f8c.0e0358","name":"Page Got Loaded","order":6,"width":0,"height":0,"format":"<script>\n(function() {\n    (function(scope) {\n        scope.send({payload: \"preload\"}); // this gets sent when the view is opened in the browser\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":190,"y":940,"wires":[["98b543d9.d53688"]]},{"id":"aac19877.fed698","type":"ui_template","z":"8a8b41a.6576c4","group":"e19f3f8c.0e0358","name":"Chartluchtvochtigheid","order":6,"width":0,"height":0,"format":"<html>\n<iframe id=\"myFrame2\" width=\"600px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame2');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1120,"y":980,"wires":[[]]},{"id":"8836b9a4.38bb68","type":"function","z":"8a8b41a.6576c4","name":"BuildTemplate","func":"//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n\npanelid=9\n\nmsg.payload= \"http://localhost:3000/d/DIRdIVkMk/sentilo?orgId=1\"+\n\"&refresh=1m\"+\n\"&theme=dark\"+\n\"&from=\"+ msg.fromdate +\n\"&to=\"+ msg.enddate +\n\"&panelId=\"+panelid\n\nreturn msg;\n","outputs":1,"noerr":0,"x":840,"y":980,"wires":[["aac19877.fed698"]]},{"id":"a547304d.56b628","type":"function","z":"8a8b41a.6576c4","name":"SetTimeTodaySofar","func":"msg.fromdate = \"now/d\";\nmsg.enddate = \"now\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1060,"wires":[["8836b9a4.38bb68"]]},{"id":"fb46577.a0a6a28","type":"ui_button","z":"8a8b41a.6576c4","name":"","group":"e19f3f8c.0e0358","order":11,"width":"2","height":"1","passthru":false,"label":"Hoy","tooltip":"","color":"","bgcolor":"","icon":"","payload":"yesterday","payloadType":"str","topic":"","x":390,"y":1060,"wires":[["a547304d.56b628"]]},{"id":"6651fd8d.d83ef4","type":"comment","z":"8a8b41a.6576c4","name":"Varias graficas sin interaccion con el usuario","info":"","x":570,"y":60,"wires":[]},{"id":"1ea217c.0f05ae8","type":"comment","z":"8a8b41a.6576c4","name":"Una sola grafica con un form para el usuario final","info":"","x":540,"y":560,"wires":[]},{"id":"597b9ff5.89bda8","type":"comment","z":"8a8b41a.6576c4","name":"Grafana en dashboard","info":"","x":400,"y":820,"wires":[]},{"id":"eefbf631.e60c6","type":"debug","z":"8a8b41a.6576c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1730,"y":420,"wires":[]},{"id":"94d61e04.194d48","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Mesures","name":"","usetls":false,"tls":""},{"id":"dd4eca9a.1673b8","type":"ui_group","z":"","name":"Sentilo","tab":"cb193cda.89a768","order":1,"disp":true,"width":"6","collapse":false},{"id":"e19f3f8c.0e0358","type":"ui_group","z":"","name":"Grafana","tab":"cb193cda.89a768","order":2,"disp":true,"width":"12","collapse":false},{"id":"cb193cda.89a768","type":"ui_tab","z":"","name":"Principal","icon":"dashboard","disabled":false,"hidden":false}]