node-red/flow.json
[{"id":"fe1897ae.8d7678","type":"ui_template","z":"30effa47.d19706","group":"40586503.24038c","name":"","order":6,"width":0,"height":0,"format":"<form>\n  First number<input type=\"number\" id=\"firstNumber\"><br>\n  Last number<input type=\"number\" id=\"secondNumber\"><br>\n</form>\n<md-button ng-click=\"send({firstNumber:action1(),secondNumber:action2()})\"> Set\n</md-button>\n\n<script>\n    this.scope.action1= function()\n    {\n        var value=document.getElementById(\"firstNumber\").value;\n        //window.alert(document.getElementById(\"fromDate\").value);\n        return value;\n    }\n    this.scope.action2= function()\n    {\n        var value=document.getElementById(\"secondNumber\").value;\n        return value;\n    }\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":360,"y":400,"wires":[["56315c97.cc31f4"]]},{"id":"56315c97.cc31f4","type":"function","z":"30effa47.d19706","name":"","func":"var firstnumber = msg.firstNumber;\nvar secondnumber = msg.secondNumber;\nvar sum = Number(Number(firstnumber)+Number(secondnumber));\nmsg.payload=sum;\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":400,"wires":[["5e5ca7c4.ba4948","d8a81325.ab3d6"]]},{"id":"5e5ca7c4.ba4948","type":"ui_text","z":"30effa47.d19706","group":"40586503.24038c","order":7,"width":0,"height":0,"name":"","label":"Summation","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":420,"wires":[]},{"id":"d8a81325.ab3d6","type":"debug","z":"30effa47.d19706","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":360,"wires":[]},{"id":"40586503.24038c","type":"ui_group","z":"","name":"Default","tab":"fc483079.2a61f","disp":true,"width":"6","collapse":false},{"id":"fc483079.2a61f","type":"ui_tab","z":"","name":"Calculator","icon":"dashboard","disabled":false,"hidden":false}]